@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles here */
.testimonials-slider {
  padding-bottom: 4rem !important;
}

.testimonials-slider .swiper-pagination {
  bottom: 0 !important;
}

.testimonials-slider .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.3) !important;
  opacity: 0.5;
  width: 10px;
  height: 10px;
}

.testimonials-slider .swiper-pagination-bullet-active {
  background: #ffffff !important;
  opacity: 1;
}
